<div class="${baseClass}">
	<div>
		<form onsubmit="return false;">
			<div>
				<label for="${id}_SourceIdInput">Source Id: </label>
				<input id="${id}_SourceIdInput" class="ts_inputBox" style="color:gray" type="text" readonly value="${sourceId}">
			</div><br>
			<div>
				<label for="${id}_TargetIdInput">Target Id: </label>
				<input id="${id}_TargetIdInput" dojoAttachPoint="targetIdInput" class="ts_inputBox" type="text" value="">
			</div><br>
			<div>
				<label for="${id}_TopicInput">Topic: </label>
				<input id="${id}_TopicInput" dojoAttachPoint="topicInput" class="ts_inputBox" type="text" value='topic1'>
			</div><br>
			<div>
				<label for="${id}_PayloadInput">Payload: </label>
				<input id="${id}_PayloadInput" dojoAttachPoint="payloadInput" class="ts_inputBox" type="text" value='{"message":"Hello World!"}'>
			</div>
		</form>
	</div>
	<hr>
	<div>
		<button dojoAttachEvent="onclick:testWrite" id="${id}_writeBtn">Write</button>
		<button dojoAttachEvent="onclick:testRead" id="${id}_readBtn">Read</button>
		<button dojoAttachEvent="onclick:testTake" id="${id}_takeBtn">Take</button><br>
		<button dojoAttachEvent="onclick:testReadp" id="${id}_readpBtn">Non-blocking Read</button>
		<button dojoAttachEvent="onclick:testTakep" id="${id}_takepBtn">Non-blocking Take</button><br>
		<button dojoAttachEvent="onclick:testReadLatest" id="${id}_readLatestBtn">Read Latest</button>
		<button dojoAttachEvent="onclick:testTakeLatest" id="${id}_takeLatestBtn">Take Latest</button>
	</div>
	<hr>
	<div>
		<div id="${id}_messagePane" dojoAttachPoint="messagePane" style="color: red;"></div>
	</div>
</div>